language: rust

cache: cargo

script:
  - "rustup component add rustfmt-preview"
  - "cargo fmt -- --check"
  - "cargo test --release -- --nocapture"
  - "export RUST_TEST_THREADS=1; cargo test --release -- --ignored --nocapture"